__pycache__/
*.pyc
*.pyo
*.pyd

venv/
env/
.spamdetector/

.git/
.gitignore

logs/
mlruns/
notebooks/

data/

*.ipynb
*.log

.DS_Store

local_s3/

artifact/*
!artifact/model_trainer/
!artifact/model_trainer/trained_model/